{% extends "base.html" %}
{% block graphs %}

  <!--  <script src="../../static/js/room_graph.js"></script>
    <script src="../../static/js/user_histogram.js"></script>
    <script src="../../static/js/max_user_graph.js"></script>
    <script src="../../static/js/user_alert.js"></script>
    <script src="../../static/js/room_histogram.js"></script>
    <script src="../../static/js/max_room_graph.js"></script>
    <script src="../../static/js/room_alert.js"></script>

-->
<!--   User specific graphs
       ====================  -->
    <div style="width: 1200px; height: 40px; margin: 0 auto"></div>


    <div class="title_line" id="user_title" style="width: 1200px; height: 50px; margin: 0 auto">USERS</div>
    <div class="container" id="user_graphs" style="width: 1200px; height: 300px; margin: 0 auto" >
         <div class="fixed" id="user_histogram"></div>
         <div class="flex-item" id="max_user_graph"></div>
    </div>

    <div style="width: 1200px; height: 20px; margin: 0 auto"></div>

    <div class="title_line" id="user_title" style="width: 1200px; height: 50px; margin: 0 auto">Alerts</div>
    <div id="user_alert" style="width: 600px; height: 200px; margin: 0 auto">
       <div id="id00"></div>
    </div>

    <div style="width: 1200px; height: 10px; margin: 0 auto"></div>



<!---   Room specific graphs 
        ==================== -->
    <div class="title_line"  style="width: 1200px; height: 50px; margin: 0 auto">ROOMS</div>
    <div class="container" id="room_graphs" style="width: 1200px; height: 300px; margin: 0 auto" >
      <div class="fixed" id="room_histogram"></div>
      <div class="flex-item" id="max_room_graph"></div>
    </div>

    <div style="width: 1200px; height: 20px; margin: 0 auto"></div>

    <div class="title_line"  style="width: 1200px; height: 50px; margin: 0 auto">Alerts</div>
    <div id="room_alert" style="width: 600px; height: 200px; margin: 0 auto" align: "center">
       <div id="id01"></div>
    </div>

    <div style="width: 1200px; height: 10px; margin: 0 auto"></div>

    <div class="title_line"  style="width: 1200px; height: 30px; margin: 0 auto">Room map</div>

    <div id="dose_graph" style="width: 600px; height: 600px; margin: 0 auto"></div>


{% endblock %}
