{% extends "base.html" %}
{% block index %}
        <div style="height:100vh; background:#00ccaa; color: #fff;">
                <div class="col-md-10 col-md-offset-1 text-center" style="font-size:120px; padding-top:20vh">
                        <a href="/monitor"><img src="../static/img/logo.png" style="width: 50%; height: 50%"></a>
                        <br>
                        <h3 style="font-weight:40px";line-height:30px>RadiAction is a monitoring and alerting platform for health risk factors associated with time integrated quantities. It is a big data pipeline which uses personal sensor measurements for location monitoring and produces alerts based on graph relations.</h3>

                </div>
        </div>
{% endblock %}
